six==1.17.0
packaging>=23.0,<25
#pytest==8.3.3


#Вопросы:

#65) Потому что диапозон задает границы допустимых версий Для точного воспроизведения нужен lock-файл

#66) requirements.txt - простой текстовый список зависимостей. pyproject.toml - стандарт сборки пакета 

#67)Покажет ошибку о конфликте зависимостей